{:paths ["src"]
 :deps {nrepl/bencode {:mvn/version "1.2.0"}}

 :tasks
 {jar {:doc "Build jar with latest version"
       :task (clojure "-T:build jar")}
  pom {:doc "Build pom.xml based on deps.edn"
       :task (clojure "-X:deps mvn-pom")}
  deploy {:doc "Deploy the latest release to Clojars"
          :task (clojure "-X:deploy")}}}
