{:paths ["src"]
 :deps {com.lambdaisland/launchpad {:mvn/version "0.45.201-alpha"}
        com.lambdaisland/cli       {:mvn/version "0.24.97"}
        nrepl/bencode              {:mvn/version "1.2.0"}}}
