{:leinpad/options {:shadow-cljs true :clean true}
 :leinpad/profiles [:dev]

 ;; Environment variables (or use .env / .env.local files instead)
 ;; :leinpad/env {"DATABASE_URL" "jdbc:postgresql://localhost/myapp_dev"
 ;;               "LOG_LEVEL" "info"}
 }
